rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Permite que um usuário autenticado crie seu próprio documento de usuário
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      // Um usuário só pode ler ou atualizar seus próprios dados
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }

    // Permite que um aluno crie seu próprio perfil de estudante
    match /students/{studentId} {
       allow create: if request.auth != null && request.auth.uid == studentId;
       // Permite que o próprio aluno ou um personal autenticado leiam os dados
       allow read: if request.auth != null && (request.auth.uid == studentId || exists(/databases/$(database)/documents/users/$(request.auth.uid)));
    }
  }
}